.env
__pycache__/
*.py[cod]
*$py.class
.DS_Store

eval/results/
figures/
test_figs/
train_rope_scaling/data/
train_unembedding/data/
utils/GQA_data/

test_interaction.py
ignore.py
eval_result.txt
requirements_mm.txt
README0.md
README_template.md
